{% extends 'base.html' %}
{% load static %}
<html>
    {% block content %}
            <div class="main_items">
                {% for itm in item %}
                <div class="Fields">
                    <form action="/" method="post" enctype="multipart/form-data">
                        <div class="Form-Item">
                            <label for="form_name">Name:</label><br>
                            <input type="text" id="form_name" name="form_name" value="{{ itm.name }}"><br>
                        </div>
                        <div class="Form-Item">
                            <label for="form_group">Group:</label><br>
                            <input type="text" id="form_group" name="form_group" value="{{ itm.group }}"><br>
                        </div>
                        <div class="Form-Item">
                            <label for="form_vendor">Vendor:</label><br>
                            <input type="text" id="form_vendor" name="form_vendor" value="{{ itm.vendor }}"><br>
                        </div>
                        <div class="Form-Item">
                            <label for="form_usecase">Usecase:</label><br>
                            <input type="text" id="form_usecase" name="form_usecase" value="{{ itm.usecase }}"><br>
                        </div>
                        <div class="Form-Item">
                            <label for="form_location">Location:</label><br>
                            <input type="text" id="form_location" name="form_location" value="{{ itm.location }}">
                        </div>
                        <div class="Form-Item">
                            <label for="form_describtion">Describtion:</label><br>
                            <input type="textarea" name="form_describtion" id="form_describtion" value="{{ itm.description }}">
                        </div>
                        
                        <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" name="form_type" id="form_type" value="edit_item">
                        <input type="hidden" name="id" id="id" value="{{ itm.id }}">


                        <div class="Form-Item">
                            {% if itm.picture %}
                            <label for="form_picture">Change Image:</label>
                            {% else %}
                            <label for="form_picture">Upload Image:</label>

                            {% endif %}
                            <input type="file" name="form_picture" id="form_picture" value="{{ itm.picture }}">
                            
                        </div>
                        <div class="Form-Item">
                            <input type="submit" value="Save">
                        </div>
                        
                    </form>
                </div>
                <div class="itm_image1">
                    {% if itm.picture %}
                    <div class="view_img">
                        <img src="{{ itm.picture.url }}" alt="Image">
                    </div>
                    {% endif %}
                </div>
                
                        {% endfor %}
                </div>
    {% endblock %}     
  
</html>