{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        input {
            margin-top: 10px;
        }
    </style>
</head>


<body>
    
        <div class="Fields"> 
            <form action="/login_user/" method="POST" enctype="multipart/form-data">
                <h1>Login to Continue</h1>
                <div class="Form-Item">
                    <label for="username">Username</label><br>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="Form-Item">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="Form-Item">
                    <input type="submit" value="Login">
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="form_type" id="form_type" value="login">
            </form>
        </div>


</body>

</html>