{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        var close = document.getElementsByClassName("closebtn");
            var i;

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function () { div.style.display = "none"; }, 600);
                }
            }
    </script>

    

        <div class="detailGrid">
            <div class="Grid-Item-desc"><p class="hide_text_gridbg">Control</p></div>
            <div class="Grid-Item-desc"><p id="vendor">{{ title }}</p></div>
            {% for item in all_detail_items %}
            <div class="Grid-Item"><a class="btn_view_a" href="/{{ layout }}/{{ item }}/"><img src="{% static 'eye.svg' %}"></a></div>
            <!--<div class="Grid-Item"><button class="btn_view" onclick="window.location.href = "/{{ item }}/"};"><img src="{% static 'eye.svg' %}"></button></div>-->
            <div class="Grid-Item"><p>{{ item }}</p></div>
            {% endfor %}

        </div>
{% endblock %}
</body>
</html>