{% extends 'base.html' %}
{% load static %}
<html> 
    {% block content %}
    <script>
        
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }


    </script>



        <div class="main_items">
            {% for itm in item %}
            <div class="Fields">
                <p>{{ itm.created_at }}</p>
                <table>
                    <tr>
                        <th id="name" class="f_type">Item Name: </th>
                        <th id="name" class="f_value">{{ itm.name }}</th>
                    </tr><tr>
                        <th id="id" class="f_type">Item ID: </th>
                        <th id="id" class="f_value">{{ itm.full_id }}</th>
                    </tr><tr>
                        <th id="vemdor" class="f_type">Item Vendor: </th>
                        <th id="vendor" class="f_value">{{ itm.vendor }}</th>
                    </tr><tr>
                        <th id="usecase" class="f_type">Item Usecase: </th>
                        <th id="usecase" class="f_value">{{ itm.usecase }}</th>
                    </tr><tr>
                        <th id="location" class="f_type">Item Location: </th>
                        <th id="location" class="f_value">{{ itm.location }}</th>
                    </tr><tr>
                        <th id="group" class="f_type">Item Group: </th>
                        <th id="group" class="f_value">{{ itm.group }}</th>
                    </tr><tr>
                        <th id="describtion" class="f_type">Item Describtion: </th>
                        <th id="describtion" class="f_value">{{ itm.description }}</th>
                    </tr>

                    

                </table>
            </div>
            <div class="Barcode">
                <svg id="barcode"></svg>
                <script>
                    JsBarcode("#barcode", "{{ itm.full_id }}");
                </script>                
            </div>

            {% if itm.picture %}
            <div class="itm_image">
                <img class="main" src="{{ itm.picture.url }}" alt="Image">
            </div>
            {% endif %}

            {% endfor %}
            <div class="print">
                <button onclick="window.print();return false;">Print</button>
                <form method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="form_type" id="form_type" value="print_lable">
                    <button>Print Lable</button>
                </form>

            </div>
        </div>
    {% endblock %}
</body>
</html>